<div class="container">
	<div class="col-md-3">
		<ul class="nav nav-stacked">
			<li role="presentation" class="active"><a href="#">Log New Thing</a></li>
			<hr>
			<li role="presentation"><a (click)="selectList('inbox')" href="#">Inbox</a></li>
			<hr>
			<li role="presentation"><a (click)="selectList('next')" href="#">Next Actions</a></li>
			<li role="presentation"><a (click)="selectList('waiting')" href="#">Waiting For</a></li>
			<li role="presentation"><a (click)="selectList('someday')" href="#">Someday</a></li>
			<hr>
			<li role="presentation"><a (click)="selectList('trash')" href="#">Trash</a></li>
			<li role="presentation"><a (click)="selectList('completed')" href="#">Completed</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Enter a new thing!</h1>
			</div>
			<div class="panel-body">
				<form #inboxForm="ngForm" (ngSubmit)="addTask()">
					<div class="form-group">
						<input id="taskSummary" 
							class="form-control" 
							type="text" 
							required 
							[(ngModel)]='summary'
							name="taskSummary"
						/>
					</div>
					<button class="btn btn-default" 
						type="submit"
						[disabled]="!inboxForm.form.valid"
						>Log it</button>
				</form>
			</div>
		</div>
		<div class="panel panel-default" *ngIf="selected_name != 'none'">
			<div class="panel-heading">
				<h2 class="panel-title">{{ selected_name }}</h2>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<task-detail *ngFor="let task of selected_list" [task]="task"></task-detail>
				</ul>
			</div>
		</div>
	</div>
</div>
