<div class="container">
	<div class="col-md-3">
		<ul class="nav nav-stacked">
			<li role="presentation"><a (click)="changeList('inbox')" href="#">Inbox</a></li>
			<hr>
			<li role="presentation"><a (click)="changeList('next')" href="#">Next Actions</a></li>
			<li role="presentation"><a (click)="changeList('waiting')" href="#">Waiting For</a></li>
			<li role="presentation"><a (click)="changeList('someday')" href="#">Someday</a></li>
			<hr>
			<li role="presentation"><a (click)="changeList('trash')" href="#">Trash</a></li>
			<li role="presentation"><a (click)="changeList('completed')" href="#">Completed</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Enter a new thing!</h1>
			</div>
			<div class="panel-body">
				<form #inboxForm="ngForm" (ngSubmit)="addTask()">
					<div class="form-group">
						<input id="taskSummary" 
							class="form-control" 
							type="text" 
							required 
							[(ngModel)]='summary'
							name="taskSummary"
						/>
					</div>
					<button class="btn btn-default" 
						type="submit"
						[disabled]="!inboxForm.form.valid"
						>Log it</button>
				</form>
			</div>
		</div>
		<task-list [list]="selected_list"></task-list>
	</div>
</div>
